<div class="container">
    <img alt="Fale Conosco"/>
    <div class="jumbotron">
        <h3>Não encontrou seu modelo de celular na hora de criar sua capinha ?</h3>
        <p>
            Entre em contato conosco
        </p>
        <p>
            <span>
                <img />
            </span>
            <h5><email endereco="teste@gmail.com" conteudo="Enviar e-mail"></email></h5>
            <br />
            <span>
                <img />
            </span>
            <h5>(44)99999-9999</h5>
            <br />
            <span>
                <img />
            </span>
            <h5>Testando</h5>
        </p>
    </div>
</div>