@model CapinhaListViewModel //view fortemente tipada do tipo List, onde era exibido apenas os dados das capinhas por meio deste codigo: IEnumerable<LanchesMac.Models.Capinha>
    <!--Agora com o CapinhaListViewModel posso usar a categoria, porque anteriormente era apenas os dados das capinhas-->


@* <style>
    .imagem-capinha {
        width: 200px; /* Largura  */
        height: auto; /* Altura como "auto" para manter a proporção original da imagem */
    }
</style>
 *@
<div>
    <h2>@ViewData["Titulo"]</h2>
</div>
<hr />

<div class="container">
    <div class="row">
        @foreach (var capinha in Model.Capinhas) // essa variável Model, ela personaliza o @model, ou seja, vai personalizar os Modelos capinha
        {
            <partial name="_CapinhasResumo" for="@capinha" />
        }
    </div>
</div>

