@model Capinha // foi usando model embaixo, porque ele representa a Classe Capinha

<div class="col-sm4 col-md-4 col-lg-4">
    <p><img class="img-fluid" src="~/@Model.ImagemUrl" /></p>
    <!--Adicionar futuramente o nome da capinha Ex: Capinha tech preta-->
    <h5>@Model.Marca</h5>
    <h6>@Model.Modelo</h6>
    <h6>Preço : R$ @Model.Preco</h6>
</div>
